
  <%- include('../layouts/app') %>
 
  <div class="pagetitle">
    <div class="row">
      <div class="col-8">
        <h1>Team Members</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= route('home') %>">Home</a></li>
            <li class="breadcrumb-item">Team Members</li>
          </ol>
        </nav>
      </div>
      <div class="col-4">
        <% if (user.can(['all_access', 'write_members'])) { %>
          <a href="<%= route('members.register') %>" style="float: right" class="btn btn-primary">Add member</a>
        <% } %>
      </div>
    </div>
  </div><!-- End Page Title -->
  
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your team members</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                  <th scope="col">Permissions</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (typeof members !== 'undefined' && members !== null) { %>
                  <% members.forEach(function(member, key) { %>
                    <tr>
                      <td><%= key + 1 %></td>
                      <td><%= member.user.name %></td>
                      <td><%= member.user.email %></td>
                      <td><%= member.role %></td>
                      <td><%= member.permissions.join(', ') %></td>
                      <td><%= new Date(member.created_at).toISOString().split('T')[0] %></td>
                    </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../layouts/footer') %>
</body>
</html>
