<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    
    <!-- ======= Sidebar ======= -->
    <% if (isSuperAdmin) { %>
        <%- include('../superadmin/aside') %>
    <% } %>
    


    <main id="main" class="main">
        <% if (user) { %>
            <input type="hidden" name="user_id" id="user_id" value="<%= user.id %>">
        <% } %>
        
        <%- include('success_message') %>
        <!-- End Sidebar-->
        <%- body %>
    </main>

    <%- include('footer') %>
    <%- include('scripts') %>
    

    <% if (!showSidebar) { %>
    <script>
        $(document).ready(function () {
            $('.toggle-sidebar-btn').click();
        });
    </script>
    <% } %>
</body>
</html>