<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="<%= route(`home`,{storeId : storeId}) %>">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= route('real.time.notifications') %>">
                <i class="bi bi-circle"></i>
                <span>Send Real-time Notifications</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#components-nav" data-bs-toggle="collapse" aria-expanded="true" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Shopify</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <% if (user.permissions.includes('all_access') || user.hasRole('SUPER_ADMIN')) { %>
                    <li>
                        <a href="<%= route('stores.index') %>">
                            <i class="bi bi-circle"></i><span>Stores</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= route('stores.create') %>">
                            <i class="bi bi-circle"></i><span>Add Private Store</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= route(`shopify.orders`,{storeId : storeId})%>">
                            <i class="bi bi-circle"></i><span>Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= route('shopify.products',{storeId : storeId}) %>">
                            <i class="bi bi-circle"></i><span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="<%= route('shopify.customers',{storeId : storeId}) %>">
                            <i class="bi bi-circle"></i><span>Customers</span>
                        </a>
                    </li>

                <% } %>
            </ul>
            <% if (user.permissions.includes('all_access') || user.hasRole('SUPER_ADMIN')) { %>
            <% if(isStorePublic) { %>
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= route('members.index' ,{storeId : storeId}) %>">
                <i class="bi bi-people"></i>
                <span>My Team</span>
            </a>
        </li><!-- End Contact Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= route('billing.index',{storeId : storeId}) %>">
                <i class="bi bi-cash"></i>
                <span>Billing</span>
            </a>
        </li>
        <% } else { %>

            <li class="nav-item">
                <a class="nav-link collapsed" href="<%= route('subscriptions.index') %>">
                    <i class="bi bi-cash"></i>
                    <span>Subscriptions</span>
                </a>
            </li>

            <% } %>
        <% } %>
        </li>
    </ul>
</aside>
